.ipynb_checkpoints/
*.pdf
*.mp4
*.npy
*.txt
*.nc
MidpointNormalize.py
CloudSat/__pycache__/
other/
remapping/170e_grid/
obs/
logs/
*.pyc
output/
rad/amip_cloud_radheating_comparison_mpi_lmd_icon.ipynb
rad/amip_cloud_radheating_AMA.ipynb
